{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="{% static 'images/logo.png' %}">
        </a>
      </div>
      <div class="navbar-right">
        <span class="pull-right"><a href="{% url 'logout' %}">Logout</a></span>
      </div>
    </div>
  </nav>
  <section class="list-repositories container">
    <div class="jumbotron">
      <h2>Hi {{ user }},</h2>
      <p>To activate <b>CinnaBot</b> in your repository, please choose it on the dropdown bellow:</p>
    
      <div class="form-group">
        <select class="form-control input-lg" id="selector">
          {% for repo in repos_not_added %}
            <option value="{{ repo.0 }}">{{ repo.1 }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-lg btn-success add_repo">Activate CinnaBot</button>
    </div>
    <div class="jumbotron last-jumbo">
      <p class="tips">
        <b>How to test:</b><br>
        1. Fork a repository with max 500 issues (suggestion: <a href="https://github.com/omab/python-social-auth" target="_blank">https://github.com/omab/python-social-auth</a>);<br>
        2. Refresh this page and Activate CinnaBot this forked repo;<br>
        3. Wait until the loading ends, here Cinnamon is fetching all repo issues and pull-requests;<br>
        4. After the loading ends, create an issue on your fork. Fill it with a title and content similar to some old issues from the parent repository;<br>
        5. Wait around 1 minute. CinnaBot will make a comment in your issue with useful tips.
        <br><br>
        <b>Good to know:</b>
        <br>
        - Cinnamon free version can only handle one repository at time. To add another, please wait until the loading ends.
        
      </p>
    </div>
  </section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
<script type="text/javascript">

  var csrftoken = $.cookie('csrftoken');

  $('.add_repo').click(function() {
    var data = JSON.parse($("#selector").val());

    $.ajax({
      url: "{% url 'repo:create' %}",
      type: "POST",
      headers: {"X-CSRFToken": csrftoken},
      data: {
           'user': data.owner.login,
           'name': data['name'],
           'html_url': data['html_url']
         },
      success: function(pk) {
        window.location.href = '/loading/' + pk;
      }
    });
  });
</script>
{% endblock %}
