{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
  <main>
    <div class="mask"></div>
    <header class="header" id="header">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <!-- logo -->
          <div class="col-md-4 col-xs-12 logo">
            <a href="/"><img src="{% static 'images/logo.png' %}"></a>
          </div>
          <a href="#" class="rounded-button pull-right visible-md visible-lg">Sign up</a>
        </div>
      </div>
    </header>
    <section class="hero">
      <h2 class="highlight">Choose the right person for your GitHub issues</h2>
      <p class="short-description">
        Cinnamon is essas categorias profissionais ainda estão bem mais no mundo da geração do meu pai. E agora a coisa vai ficar um pouco pessoal, porque vou falar um pouco do meu pai. Ele nasceu em 1957, filho de um pai.
      </p>
      <a href="/login" class="btn">Sign up with your Github account</a>
    </section>
  </main>
{% endblock %}
