{% extends "core/base.html" %}
{% load staticfiles %}
{% load socialaccount %}

{% block content %}
  {% get_providers as socialaccount_providers %}
  <main>
    <div class="mask"></div>
    <header class="header" id="header">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <!-- logo -->
          <div class="col-md-4 col-xs-12 logo">
            <a href="/"><img src="{% static 'images/logo.png' %}"></a>
          </div>
          {% for provider in socialaccount_providers %}
            <a title="Sign up" class="rounded-button pull-right visible-md visible-lg socialaccount_provider {{provider.id}}" 
               href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Sign up</a>
          {% endfor %}
        </div>
      </div>
    </header>
    <section class="hero">
      <h2 class="highlight">Get automated <b>help</b> for your GitHub project <b>issues</b></h2>
      <p class="short-description">
        <b>Cinnamon</b> is a GitHub plugin that helps you to <b>fix issues</b> faster. When a new issue appears, our <b>CinnaBot</b> comment on it suggesting the best project developers to work on it, giving links to other similar issues, and even indicating the code files to be changed.
      </p>
      {% for provider in socialaccount_providers %}
        <a title="Sign up with your Github account" class="btn socialaccount_provider {{provider.id}}" 
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Sign up with your Github account</a>
      {% endfor %}
    </section>
  </main>
  <section class="light_section about_section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="sc_title sc_title_underline">Features</h2>
        <p class="sc_content">Our <b>CinnaBot</b> comments on issues with useful info:</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-xs-12">
        <div class="sc_column"> 
          <a style="color: #fff; background-color: #fb563b;" href="#" class="sc_icon fa sc_icon_round bg_icon margin_bottom_mini noEdit fa-user"></a>
          <h5 class="sc_title ">Who can solve it?</h5> 
          <p>Who is the best developer to solve an issue? Who can give background about it? <b>CinnaBot</b> knows <b>which developers in your team</b> solved issues similar to the new one and will share this with you.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="sc_column"> 
          <a style="color: #fff; background-color: #fb563b;" href="#" class="sc_icon fa sc_icon_round bg_icon margin_bottom_mini noEdit fa-tasks"></a> 
          <h5 class="sc_title ">Any related issues?</h5> 
          <p>Is this new issue related to an old one? <b>CinnaBot</b> answer this by linking to similar issues on your GitHub project. With this you get insight on <b>common problems</b>, <b>regressions</b>, and <b>possible solutions</b>.</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="sc_column"> 
          <a style="color: #fff; background-color: #fb563b;" href="#" class="sc_icon fa sc_icon_round bg_icon margin_bottom_mini noEdit fa-code"></a> 
          <h5 class="sc_title ">Where is the code?</h5> 
          <p>On large codebases it might be difficult to find where the bug is or where the code must be changed. <b>CinnaBot</b> comes to rescue by listing which <b>files</b> changed in previous related pull-requests.</p>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="features">
    <div class="container">
      <h2>How it works</h2>
      <div class="col-md-7 visible-md visible-lg">
        <img src="{% static 'images/git-flow.png' %}" class="img-thumbnail">
      </div>
      <div class="col-md-5 col-xs-12 item">
        <div class="box">
          <span>
            1. New issue
          </span>
          <p>
            Cinnamon monitors your GitHub project for new issues. When someone adds one, Cinnamon gets its data to match against other issues and pull-requests of your project. Our natural language expert algorithms are perfect for this.
          </p>
        </div>
      </div>
      <div class="col-md-5 col-xs-12 item">
        <div class="box">
          <span>
            2. Possible solvers 
          </span>
          <p>
            Knowing who made the pull-requests that fixed similar issues, CinnaBot comments telling who on your project team is most qualified to solve this new issue. That's helpful! But CinnaBot does even more...
          </p>
        </div>
      </div>
      <div class="col-md-5 col-xs-12 item">
        <div class="box">
          <span>
            3. Useful tips
          </span>
          <p>
            Once someone is allocated to the issue, CinnaBot will comment on it with useful hints. A list of related issues is given, computed with an advanced similarity algorithm. Also, some files where the problem might be are listed.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
