{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
  <main>
    <div class="mask"></div>
    <header class="header" id="header">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <!-- logo -->
          <div class="col-md-4 col-xs-12 logo">
            <a href="/"><img src="{% static 'images/logo.png' %}"></a>
          </div>
          <a href="accounts/github/login" class="rounded-button pull-right visible-md visible-lg">Sign up</a>
        </div>
      </div>
    </header>
    <section class="hero">
      <h2 class="highlight">Choose the right person and help for your GitHub issues</h2>
      <p class="short-description">
        Cinnamon is a github manager who helps you to choose the best person to solve a recent created issue. Our algorith analyses all the solved issues and his specific commits to refer the best coder available to solve it!
      </p>
      <a href="accounts/github/login" class="btn">Sign up with your Github account</a>
    </section>
  </main>
  <section class="features">
    <div class="container">
      <h2>How works</h2>
      <div class="col-md-7">
        <img src="{% static 'images/git-flow.png' %}" class="img-thumbnail">
      </div>
    </div>
  </section>
{% endblock %}
