{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="{% static 'images/logo.png' %}">
        </a>
      </div>
      <div class="navbar-right">
        <span class="pull-right"><a href="{% url 'logout' %}">Logout</a></span>
      </div>
    </div>
  </nav>
  <section class="list-repositories container">
    <div class="jumbotron">
      <div class="col-md-2">
		    <h1><i class="fa fa-circle-o-notch fa-spin"></i></h1>
      </div>
      <div class="col-md-10">
        <h2>Hi {{ user }},</h2>
        <p>We're loading your repository...</p>
        <p>
          <b>Good to know:</b>
          <br>
          - Cinnamon free version can only handle one repository at time. To add another, please wait until the loading ends.
          <br><br>
          How to test:
          1. Fork a repository with max 500 issues (suggestion: https://github.com/omab/python-social-auth/issues);
          2. Wait until the loading ends, here Cinnamon is fetching all repo issues and pull-requests;
          3. After the loading ends, create an issue on your fork. Fill it with a title and content similar to some old issues from the parent repository;
          4. Wait around 1 minute. CinnaBot will make a comment in your issue with tips.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
